@media (max-width: 576px) {
    .btn-mobile-full {
        width: 100%;
    }
  
    .btn-container {
        display: block;
        width: 100%;
    }
  
    .btn-div {
        width: 100%;
    }
  
  
     .content-div-7-mobile:hover{
        background-color: rgb(255, 50, 50);
     }
  
    .content-div-8-btn1,.content-div-8-btn2{
        width: 100%;
    }
  
  
    .footer-copy-right span{
        float: left;
    }
  
  }
  
  
  
  


  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#nav-logo {
    width: 150px;
}
  
  
  .navbar {
    background-color: white;
  }
  
  
  
  
  .new-feature-div {
    color: red;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow if text is too long */
    text-overflow: ellipsis;
  }
  
  
  .new-feature-outer {
    display: flex;
    /* Align text and icon horizontally */
    justify-content: space-between;
    /* Ensure there is space between text and icon */
    align-items: center;
    /* Vertically align items */
  }
  
  
  @media (max-width: 768px) {
    .new-feature-outer {
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }
  }
  
  .first-div {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
  }
  
  .drop-down {
    margin-top: 7px;
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
  }
  
  #Resources-id-drop-down {
    margin-top: 1px;
  }
  
  
  .new-feature-inner {
    border: solid rgb(255, 95, 95) 1px;
    color: rgb(255, 95, 95);
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    display: inline-block;
    margin-right: 8px;
  }
  
  
  .new-feature-outer {
    border: solid rgb(255, 95, 95) 1px;
    color: rgb(255, 95, 95);
    border-radius: 25px;
    padding: 5px 5px;
    padding-right: 10px;
    width: fit-content;
  }
  
  
  
  .details-div {
    max-width: 580px;
    text-align: center;
  
  }
  
  
  
  .btn-main {
    border: solid red 2px;
    border-radius: 20px;
  }
  
  .btn-one {
    border: solid rgb(141, 127, 127) 1px;
    color: rgb(141, 127, 127);
  }
  
  .btn-two {
    background-color: rgb(255, 50, 50);
    color: white;
  }
  
  
  .main-div-msg {
    max-width: 1200px;
    min-width: 300px;
    margin: auto;
  }
  
  .main-div-msg img {
    width: 100%;
    justify-content: center;
    border-radius: 20px;
    border: solid 6px black;
  
  }
  
  
  .second-content-img {
    height: 40px;
    border-radius: 50%;
  }
  
  .company-name {
    font-weight: bolder;
    margin-left: 5px;
  }
  
  
  .feature-text-div {
    color: red;
  }
  
  
  
  .third-div-details {
    max-width: 560px;
    margin: auto;
  }
  
  .card-img-top {
    width: 50px;
    margin: auto;
  }
  
  .company-titile-div {
    text-align: center;
  }
  
  .company-titile {
    font-weight: bold;
    text-align: center;
  }
  
  .company-details-div {
    text-align: center;
    max-width: 380px;
  }
  
  .card {
    border: none;
  }
  
  
  
  
  
  
  
  
  
  .content-div-4 {
    background-color: rgb(248, 247, 247);
    padding: 10px;
  }
  
  
  .content-container-div {
    align-items: center;
    width: fit-content;
    margin: auto;
  }
  
  
  #sisphus-id-img {
    width: 18px;
    margin: auto;
    display: inline;
  }
  
  .content-container-div-spain {
    height: fit-content;
    font-weight: bold;
  }
  
  
  .content-container-div-details {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
  }
  
  
  
  .content-container-div-profile {
    margin-top: 10px;
  }
  
  
  .content-container-div-profile img {
    width: 70px;
    margin: auto;
  }
  
  
  .content-container-div-details2 {
    text-align: center;
  }
  
  
  .content-container-div-details2-span1 {
    font-weight: bold;
  
  }
  
  
  
  
  
  
  
  
  
  
  .content-div-5-header {
    text-align: center;
    max-width: 770px;
    margin: auto;
  }
  
  .content-div-5-details {
    max-width: 770px;
    margin: auto;
    text-align: center;
    font-size: large;
  }
  
  .content-div-5-questions-section {
    max-width: 770px;
    margin: auto;
  }
  
  .content-div-5-questions-section ul li {
    list-style-type: none;
  }
  
  .content-div-5-questions-section-icons {
    width: 25px;
    float: right;
  }
  
  
  
  
  
  
  
  
  .content-div-6{
    background-color: rgb(248, 247, 247);
    padding: 10px;
  }
  
  .content-div-6-row1{
   max-width: 300px;
   margin: auto;
  }
  
  
  .content-profile-img-left{
    width: 100px;
    margin-left:50px ;
  }
  
  .content-profile-img-center{
    width: 105px;
    margin-top: -80px;
    margin-left: 97px;
  }
  
  .content-profile-img-right{
    width: 100px;
  }
  
  .content-div-6-row1-details{
    text-align: center;
  }
  
  
  .content-div-6-btn{
   max-width: 180px;
   margin: auto;
   background-color: rgb(255, 50, 50);
   color: white;
   border-radius: 10px;
  }
  
  
  
  
  
  
  
  
  
  .custom-button {
    width: 150px;
    text-align: center;
  }
  
  .content-box {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  
  .content-div-7-top{
    color: red;
  }
  
  
  .content-div-7-btn{
    background-color: rgb(255, 50, 50);
   color: white;
   float: right;
  }
  
  .content-div-7-mobile{
  margin-top: 10px;
   width: 100%;
  }
  
  
  
  
  .content-box {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.2rem;
  }
  
  
  .card-img-top {
    object-fit: cover;
    height: 150px; /* Adjust the height as needed */
  }
  .card {
    height: 100%; /* Ensure consistent height for all cards */
  }
  
  .content-div-7-card-img-top{
    width: 100%;
    align-items: center;
    margin: auto;
  }
  
  .content-div-7-card-body-div{
    text-align: left;
    float: left;
    margin-left: -18px;
  }
  
  .content-div-7-card-title{
    color: red;
  }
  
  .content-div-7-card-text{
    font-size: large;
  }
  
  
  
  .content-div-7-card-div2{
    height: 100px;
    width: 100%;
    align-items: center;
    margin: auto;
    margin-top: -30px;
  }
  
  .content-div-7-card-img-profile{
    margin-right: 20px;
    max-height: 60px;
    margin-left: -15px;
    
  }
  
  .content-div-7-card-div2-text-div{
    margin-left: -70px;
    text-align: left;
  }
  
  .content-div-7-card-h5{
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    margin-left: -20px;
  }
  
  .content-div-7-card-span{
    margin-top: -8px;
    margin-left: -15px;
  }
  
  .content-div-7-card-img-arrow{
  width: 25px;
  }
  
  
  
  
  
  .content-div-8{
    text-align: center;
    margin-bottom: 20px;
  }
  
  .content-div-8-btn1-div{
    float:right;
    text-align: right;
  }
  
  .content-div-8-btn1{
    border: solid rgb(196, 195, 195) 2px;
  }
  
  .content-div-8-btn2-div{
    text-align: left;
  }
  .content-div-8-btn2{
    background-color: rgb(255, 50, 50);
    color: white;
  }
  
  
  
  
  
  
  
  .content-div-9{
    margin-top: 30px;
  }
  
  
  
  
  li{
    list-style-type: none;
  }
  
  .content-div-9-footer-div-span{
    border: solid rgb(158, 212, 139) 1px;
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
    color: green;
    background-color: rgb(213, 253, 199);
  }
  
  
  .footer-img{
    max-width: 100px;
    height: 100px;
  }
  
  .footer-copy-right{
    float: right;
    text-align:right;
    margin: auto;
  }